.iconSpan{
    margin-left: 10px;
}

.iconBox {
    display:flex;
    align-items:center;
    margin-top:5px;
}

.spanNumber{
    font-size: 16px;
    font-weight: 600;
}
.logout {
    padding-top: 10px;
    margin-left: 220px;
}
.logout:hover {
    color: red !important;
    
}