
.body{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 500px;
    width: 1000px;
    box-shadow: 1px 1px 7px gray;
    display: flex;
   
}

.rightBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}